@import './styles/pages/MenuPage.scss';
@import './styles/pages/Home.scss';
@import './styles/components/Navbar.scss';

*{
  margin:0;
  padding:0;
  box-sizing: content-box;

}
#root{
  background-color: #ebeee9;
}